<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <mailigen_synchronizer translate="label" module="mailigen_synchronizer">
            <label>Mailigen</label>
            <tab>customer</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label" module="mailigen_synchronizer">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <api_key translate="label comment">
                            <label>Api key</label>
                            <comment><![CDATA[See <a href="http://admin.mailigen.com/settings/api" target="_blank">Mailigen API Keys</a> for details]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </api_key>
                        <account_details translate="label">
                            <label>Account details</label>
                            <frontend_model>mailigen_synchronizer/system_config_account_details</frontend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </account_details>
                        <contact_list translate="label comment">
                            <label>Contact list</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mailigen_synchronizer/mailigen_list</source_model>
                            <backend_model>mailigen_synchronizer/config_contact_list</backend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>By selecting a new list option you'll be able to create a new Mailigen list directly from this panel.</comment>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </contact_list>
                        <contact_list_title translate="label comment">
                            <label>New contact list title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Type the title of your new list. During the save, the list will be created and it will become the current contact list.</comment>
                            <depends>
                                <enabled>1</enabled>
                                <contact_list></contact_list>
                            </depends>
                        </contact_list_title>
                        <customer_sync_type translate="label">
                            <label>Customer sync type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mailigen_synchronizer/config_customer_sync_type</source_model>
                            <backend_model>mailigen_synchronizer/config_customer_sync_type</backend_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </customer_sync_type>
                        <handle_default_emails translate="label comment">
                            <label>Enable default Mailigen emails</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>If set to yes, this will disable the Magento "Subscription Success","Subscription Confirmation" and the "Unsubscription Confirmation" emails. Mailigen will send these emails for you</comment>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </handle_default_emails>
                    </fields>
                </general>
                <webhooks translate="label" module="mailigen_synchronizer">
                    <label>Webhooks</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[If set to yes, then each time the list on Mailigen changes an update will be sent to Magento store.<br/><b>Warning:</b> You should configure Webhooks in Mailigen account to get it working! Read more details in <a href="http://www.mailigen.com/assets/files/pdf/MailigenSynchronizer-MagentoModul-UserGuide-v1.pdf" target="_blank">documentation</a>.]]></comment>
                        </enabled>
                        <url translate="label">
                            <label>URL</label>
                            <frontend_model>mailigen_synchronizer/system_config_webhooks_url</frontend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </url>
                        <secret_key translate="label">
                            <label>Secret key</label>
                            <frontend_model>mailigen_synchronizer/system_config_webhooks_secretkey</frontend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </secret_key>
                    </fields>
                </webhooks>
                <advanced translate="label" module="mailigen_synchronizer">
                    <label>Advanced</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <cron_string translate="label comment">
                            <label>Sync schedule (cron syntax)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>If set "*/10 * * * *", then run sync every 10 min.</comment>
                        </cron_string>
                        <batch_size translate="label comment">
                            <label>Sync batch size</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The number of guests or customers to (un)subscribe per one API request</comment>
                        </batch_size>
                        <batch_limit translate="label comment">
                            <label>Sync batch limit</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The number of guests or customers to (un)subscribe per one cronjob run</comment>
                        </batch_limit>
                    </fields>
                </advanced>
                <sync translate="label" module="mailigen_synchronizer">
                    <label>Sync information</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <information>
                            <frontend_model>mailigen_synchronizer/system_config_sync_information</frontend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </information>
                        <stop_sync>
                            <frontend_type>hidden</frontend_type>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </stop_sync>
                    </fields>
                </sync>
            </groups>
        </mailigen_synchronizer>
    </sections>
</config>